body {
    background-color: lavender;
}

/* .container{
    background-color: white;
} */

#mainParagraph:hover {
    background-color: white;
}

nav {
    background-color: royalblue;
}

.navbar-brand {
    color: dimgrey;
    text-shadow: 3px 1px 3px lime;
    border-bottom: 5px dashed orange;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

footer {
    display: flex;
    background-color: thistle;
    border: 1px solid blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.column {
    width: 50%;
    padding: 5px;
}

.column:first-child {
    border-right: 1px solid white;
}



#carouselExampleFade {
    margin: auto;
    width: 50%;
}

section {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-img-top {
    height: 15rem;
}

h5.card-title {
    color: royalblue;
    font-weight: bold;
    font-style: italic;
}

i {
    font-size: xx-large;
    color: royalblue;
}

a {
    text-decoration: none;
}

i:hover,
a:hover {
    color: #54B4D3;
}

.toast {
    background-color: #54B4D3;
    display: flex;
    position: absolute;
    width: max-content;
    top: 8rem;
    /* right: 10px; */
    right: 7.5rem;
}

.list-group a:hover {
    background-color: royalblue;
    color: white;
}

#displayImageRecipe {
    width: 100%;
    height: 28rem;
    border: 1px solid royalblue;
    background-size: cover;
}

#fakeCallout {
    border-left: 2px solid royalblue;
    height: 2rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    color: black;
    font-size: large;
}

#messageAlert {
    background-color: red;
    margin: auto;
    font-size: large;
    align-items: center;
    max-width: fit-content;
}

#loginForm {
    background-color: thistle;
    border: 1px solid royalblue;
    margin: auto;
    max-width: fit-content;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}